.group {
	position: relative;
	margin: 45px;

	.form-input-label {
		color: black;
		font-size: 18px;
		font-weight: normal;
	}

	.form-input {
		background: none;
		background-color: transparent;
		color: #b2b2b2;
		font-size: 18px;
		padding: 10px 5px;
		display: block;
		width: 100%;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid #6f6f6f;

		&:focus {
			outline: none;
		}
	}
}